/**
 * Custom variables
 * ----------------------------------------------------------------------------
 */

/*$fa-font-path: "../fonts/fontawesome/" !default;*/
$ro-font-path: "../fonts/roboto/" !default;
$os-font-path: "../fonts/opensans/" !default;


/* Media Queries SASS */
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}