/* GLOBAL */

body {
	background-color: $bggrey;
}

.row,
.row-no-padding {
	position: relative;
	max-width: rem-calc(990);
	width: 100%;
	margin: 0 auto;
	padding-right: rem-calc(7);
	padding-left: rem-calc(7);
}

.row-no-padding {
	padding-right: rem-calc(0);
	padding-left: rem-calc(0);
}

.hidden {
	display: none;
}

.show-small-only {
	display: block;

	@include tablet {
		display: none;
	}

	@include desktop {
		display: none;
	}
}

.show-medium-only {
	display: none;

	@include tablet {
		display: block;
	}

	@include desktop {
		display: none;
	}
}

.show-large-only {
	display: none;

	@include tablet {
		display: none;
	}

	@include desktop {
		display: block;
	}
}

/* NAVIGATIONS */

header {
	position: relative;
	background-color: $white;
}

.main-nav {
	position: absolute;
	top: rem-calc(0);
	right: rem-calc(0);
	z-index: 2;
	width: rem-calc(142);
}

.main-nav ul {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	margin: rem-calc(0);
	padding-left: rem-calc(0);
	padding-top: rem-calc(40);
	background-color: $offwhite;
	text-align: left;
	border-radius: rem-calc(0) rem-calc(0) rem-calc(3) rem-calc(3);
}

.main-nav ul li {
	border-bottom: rem-calc(1) solid $lightgrey;
}

.site-title {
	width: rem-calc(205);
	margin: 0 auto;
	line-height: rem-calc(30);

	@include tablet {
		width: auto;
	}

	@include desktop {
		width: auto;
	}
}

.site-subheading {
	position: relative;

	&:before,
	&:after {
		content: ' ';
		position: absolute;
		top: rem-calc(10);
		height: rem-calc(2);
		width: rem-calc(45);
		background-color: $darkorange;
	}

	&:before {
		left: rem-calc(5);
	}

	&:after {
		right: rem-calc(5);
	}

	@include tablet {
		width: 50%;
		margin: 0 auto;
	}

	@include desktop {
		width: 33%;
		margin: 0 auto;
	}
}

.site-intro {
	width: 90%;
	margin-top: rem-calc(25);
	margin-right: auto;
	margin-bottom: rem-calc(0);
	margin-left: auto;

	@include desktop {
		width: 52%;
	}
}

/* Main Content */
.site-wrapper {
	position: relative;
	min-width: 320px;
	overflow-x: hidden
}

.main-content {
	overflow: hidden;
}

.main-content section {
	padding-top: rem-calc(80);
}

.main-content .bg-gradient section {
	padding-top: rem-calc(40);
}

.main-content h2 {
	@include tablet {
		display: inline-block;
		vertical-align: top;
		margin-top: rem-calc(10);
		margin-left: rem-calc(60);
	}

	@include desktop {
		display: inline-block;
		vertical-align: top;
		margin-top: rem-calc(10);
	}
}

.section-intro {
	@include tablet {
		display: inline-block;
		padding-left: rem-calc(20);
		border-left: rem-calc(1) solid $mediumgrey;
		font-size: rem-calc(13);
	}

	@include desktop {
		display: inline-block;
		padding-left: rem-calc(20);
		border-left: rem-calc(1) solid $mediumgrey;
		font-size: rem-calc(13);
	}
}

.drinks h2,
.gifts h2 {
	@include tablet {
		width: 12%;
	}

	@include desktop {
		width: 12%;
	}
}

.drinks .section-intro,
.gifts .section-intro {
	@include tablet {
		width: 70%;
	}

	@include desktop {
		width: 70%;
	}
}

.whole-cakes h2 {
	@include tablet {
		width: 18%;
	}

	@include desktop {
		width: 20%;
	}
}

.whole-cakes .section-intro {
	@include tablet {
		width: 70%;
	}

	@include desktop {
		width: 60%;
	}
}

.traditional-christmas-breads h2 {
	@include tablet {
		width: 43%;
	}

	@include desktop {
		width: 33%;
	}
}

.traditional-christmas-breads .section-intro {
	@include tablet {
		width: 43%;
	}

	@include desktop {
		width: 43%;
	}
}

.party-packs h2 {
	@include tablet {
		width: 20%;
	}

	@include desktop {
		width: 15%;
	}
}

.party-packs .section-intro {
	@include tablet {
		width: 70%;
	}

	@include desktop {
		width: 70%;
	}
}

.machine h2 {
	@include tablet {
		width: 23%;
	}

	@include desktop {
		width: 20%;
	}
}

.machine .section-intro {
	@include tablet {
		width: 60%;
	}

	@include desktop {
		width: 60%;
	}
}

.cards .section-intro {
	@include tablet {
		display: block;
		width: 80%;
		margin: 0 auto;
		border-left: none;
	}

	@include desktop {
		display: block;
		width: 80%;
		margin: 0 auto;
		border-left: none;
	}
}

.disclaimer {
	width: 100%;
	margin: 0 auto;
	padding: rem-calc(10) rem-calc(15);
	background-color: $orange;
	border-radius: rem-calc(3);

	@include tablet {
		width: 80%;
		padding: rem-calc(10) rem-calc(45);
	}
}

.disclaimer-top {
	@include tablet {
		text-align: center;
	}

	@include desktop {
		padding: rem-calc(10) rem-calc(130);
		text-align: center;
	}
}

.disclaimer-bottom {
	@include tablet {
		width: 90%;
		margin-top: rem-calc(40);
	}

	@include desktop {
		margin-top: rem-calc(40);
	}
}

.product-holder {
	width: 100%;
	max-width: rem-calc(972);
	height: rem-calc(450);
	overflow-y: hidden;

	@include desktop {
		overflow-x: hidden;
	}
}

.product-holder .inner-conveyer-belt {
	overflow: auto;
}

.product-holder.drinks .inner-conveyer-belt,
.product-holder.traditional-christmas-breads .inner-conveyer-belt,
.product-holder.party-packs .inner-conveyer-belt {
	width: rem-calc(745);

	@include desktop {
		margin: 0 auto;
	}
}

.product-holder.whole-cakes {
	@include desktop {
		max-width: rem-calc(990);
		height: rem-calc(860);
	}
}

.product-holder.whole-cakes .inner-conveyer-belt {
	width: rem-calc(1736);

	@include desktop {
		width: rem-calc(990);
	}
}

.product-holder.gifts {
	@include desktop {
		max-width: rem-calc(750);
		height: rem-calc(1295);
		margin: 0 auto;
	}
}

.product-holder.gifts .inner-conveyer-belt {
	width: rem-calc(2232);

	@include desktop {
		width: rem-calc(990);
	}
}

.product-holder.machine .inner-conveyer-belt {
	width: rem-calc(496);

	@include tablet {
		margin: 0 auto;
	}

	@include desktop {
		margin: 0 auto;
	}
}

.product-holder article {
	position: relative;
	float: left;
	padding-top: rem-calc(6);
	padding-bottom: rem-calc(5);
}

.product-item > a {
	display: block;
	width: 100%;
	height: 100%;
}

.product-item {
	position: relative;
	width: rem-calc(240);
	height: rem-calc(420);
	border-radius: rem-calc(3);
	overflow: hidden;
	text-align: center;
	margin-right: rem-calc(4);
	margin-left: rem-calc(4);

	img {
		position: absolute;
		top: rem-calc(0);
		left: rem-calc(0);
		z-index: 1;
	}

	.description {
		position: absolute;
		bottom: rem-calc(0);
		z-index: 2;
		width: 100%;
		height: rem-calc(195);
		padding-right: rem-calc(10);
		padding-left: rem-calc(10);
		background-color: $white;
		transition: all .3s ease .1s;
		border-radius: rem-calc(0) rem-calc(0) rem-calc(3) rem-calc(3);

		h3 {
			height: rem-calc(60);
		}

		@include desktop {
			position: absolute;
			bottom: rem-calc(0);
			z-index: 2;
			width: 100%;
			height: rem-calc(135);
			background-color: $white;
			transition: all .3s ease .1s;
			border-radius: rem-calc(0) rem-calc(0) rem-calc(3) rem-calc(3);
		}
	}

	.description .top-triangle {
		top: rem-calc(0);
		left: rem-calc(0);
		-ms-transform: rotate(13deg);
	    -webkit-transform: rotate(13deg);
	    transform: rotate(13deg);

	    @include desktop {
	    	position: absolute;
			top: rem-calc(-60);
			z-index: -1;
			border-style: solid;
			/* border-width: top right bottom left  */
			border-width: rem-calc(0) rem-calc(0) rem-calc(60) rem-calc(260);
			border-color: transparent transparent $white transparent;
			transition: all .3s ease .1s;
			-ms-transform: rotate(0deg);
		    -webkit-transform: rotate(0deg);
		    transform: rotate(0deg);
	    }
	}

	.description .btn-view-more {
		-webkit-transition: all .35s ease-out 1s;
		-moz-transition: all .35s ease-out 1s;
		-o-transition: all .35s ease-out 1s;
		-ms-transition: all .35s ease-out 1s;
		transition: all .35s ease-out 1s;
		webkit-transition-delay: .225s;
		-moz-transition-delay: .225s;
		-o-transition-delay: .225s;
		-ms-transition-delay: .225s;
		transition-delay: .225s;
		opacity: 1;

		@include desktop {
			opacity: 0;
			transition: all .6s ease;
		}
	}

	.description .price-bar {
		position: absolute;
		right: rem-calc(0);
		bottom: rem-calc(0);
		left: rem-calc(0);
		background-color: $mediumred;
		transition: background-color .3s ease .1s;
		text-align: center;

		@include desktop {
			background-color: $lightgrey;
		}

		p {
			color: $mediumgrey;
			font-family: 'roboto_slabbold';
			font-size: rem-calc(13);
			margin-top: rem-calc(10);
			margin-bottom: rem-calc(10);

			@include desktop {
				color: $mediumred;
			}

			.price {
				color: $offwhite;
				margin-left: rem-calc(5);

				@include desktop {
					color: $mediumgrey;
				}
			}
		}

	}
}

.product-item:hover {
	.description {
		@include desktop {
			height: rem-calc(195);
		}
	}

	.description .top-triangle {
		@include desktop {
			top: rem-calc(0);
			-ms-transform: rotate(13deg);
		    -webkit-transform: rotate(13deg);
		    transform: rotate(13deg);
		}
	}

	.description .btn-view-more {
		@include desktop {
			-webkit-transition: all .35s ease-out 1s;
			-moz-transition: all .35s ease-out 1s;
			-o-transition: all .35s ease-out 1s;
			-ms-transition: all .35s ease-out 1s;
			transition: all .35s ease-out 1s;
			webkit-transition-delay: .225s;
			-moz-transition-delay: .225s;
			-o-transition-delay: .225s;
			-ms-transition-delay: .225s; 
			transition-delay: .225s;
			opacity: 1;
		}
	}

	.description .price-bar {
		@include desktop {
			background-color: $mediumred;
		}

		p {
			@include desktop {
				color: $mediumgrey;
			}

			.price {
				@include desktop {
					color: $offwhite;
				}
			}
		}
	}
}

.product-holder.whole-cakes .product-item {
	@include desktop {
		margin-right: rem-calc(2);
		margin-left: rem-calc(2);
	}
}
.item-centraliser {
	@include desktop {
		display: block;
		width: 75%;
		margin: 0 auto;
	}
}

.bg-gradient {
	padding-top: rem-calc(10);
	@extend .grey-gradient;

	hr {
		border-color: $white;
		border-style: solid;
		border-width: rem-calc(1);
		margin-top: rem-calc(20);
	}
}

.ribbon-wrapper-in-store {
	width: rem-calc(145);
	height: rem-calc(127);
	overflow: hidden;
	position: absolute;
	top: rem-calc(3);
	left: rem-calc(104);
}

.ribbon-in-store {
	color: $white;
	text-align: center;
	-webkit-transform: rotate(45deg);
	-moz-transform:    rotate(45deg);
	-ms-transform:     rotate(45deg);
	-o-transform:      rotate(45deg);
	position: relative;
	padding: rem-calc(10) rem-calc(0);
	left: rem-calc(5);
	top: rem-calc(27);
	width: rem-calc(181);
	z-index: 2;
	background-color: $mediumred;
	-webkit-box-shadow: rem-calc(0) rem-calc(0) rem-calc(3) rgba(0,0,0,0.3);
	-moz-box-shadow:    rem-calc(0) rem-calc(0) rem-calc(3) rgba(0,0,0,0.3);
	box-shadow:         rem-calc(0) rem-calc(0) rem-calc(3) rgba(0,0,0,0.3);

	&:before,
	&:after {
		content: "";
		border-top:   rem-calc(3) solid $maroon;
		border-left:  rem-calc(3) solid transparent;
		border-right: rem-calc(3) solid transparent;
		position:absolute;
		bottom: rem-calc(-3);
	}

	&:before {
		left: 0;
	}

	&:after {
		right: 0;
	}
}

/* Cards */
.cbtl-card-box {
	padding: rem-calc(0);
	text-align: center;

	li {
		display: inline-block;
		width: 43%;
		list-style: none;

		@include tablet {
			width: auto;
		}

		@include desktop {
			width: rem-calc(243);
		}
	}

	li img {
		width: 100%;

		@include tablet {
			width: auto;
		}
	}
}

/* Footer */
.copyright-box {
	padding-right: rem-calc(7);
	padding-bottom: rem-calc(15);
	padding-left: rem-calc(7);
}

.like-share-box {
	width: 100%;
	height: rem-calc(60);
	padding-top: rem-calc(30);
	overflow: hidden;
	text-align: center;
}