h1 {
	color: $mediumred;
	font-family: 'roboto_slabbold';
	font-size: rem-calc(24);
	text-align: center;
}

h2 {
	color: $orange;
	font-family: 'roboto_slabbold';
	font-size: rem-calc(20);
}

h3 {
	color: $mediumred;
	font-family: 'roboto_slabbold';
	font-size: rem-calc(23);
}

h4 {
	color: $mediumgrey;
	font-family: 'os_regular';
	font-size: rem-calc(12);
	text-align: center;
}

h5 {
	color: $mediumred;
	font-family: 'roboto_slabbold';
	font-size: rem-calc(20);
}

h6 {
	color: $white;
	font-family: 'os_bold';
	font-size: rem-calc(15);
	letter-spacing: rem-calc(-1);
}

.ribbon-in-store {
	font-family: 'os_regular';
	text-transform: uppercase;
}

.disclaimer p {
	color: $lightergrey;
	font-size: rem-calc(12);
	line-height: rem-calc(18);

	@include desktop {
		font-size: rem-calc(16);
	}
}

.disclaimer h6 {
	margin-top: rem-calc(0);
	margin-bottom: rem-calc(0);
}

.section-intro {
	color: $mediumgrey;
	font-family: 'os_regular';
	font-size: rem-calc(14);
}

.site-intro p {
	color: $mediumgrey;
	font-family: 'os_regular';
	font-size: rem-calc(14);
	text-align: center;
}

.main-nav ul li a {
	display: block;
	padding: rem-calc(10) rem-calc(15);
	color: $mediumgrey;
	font-family: 'os_semibold';
	font-size: rem-calc(13);
	text-decoration: none;
	text-transform: uppercase;
}

.cards h5 {
	@include tablet {
		text-align: center;
	}

	@include desktop {
		text-align: center;
	}
}

.copyright-box p {
	color: $copyrightgrey;
	font-family: 'roboto_slabregular';
	font-size: rem-calc(8);

	@include tablet {
		font-size: rem-calc(10);
		text-align: center;
	}

	@include desktop {
		font-size: rem-calc(11);
		text-align: center;
	}
}